@use "./base/base";
@use "./base/reset";
@use "./global" as *;

// header
.header{
  position: fixed;
  height: 75px;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1000;
  width:100%;
}

.header__inner{
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
}

.header__title{
  margin-right: auto;
  margin-left: 22px;
}

.header__items{
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item:not(:first-child){
  margin-left: 70px;
}

.header__item{
  height: inherit;
}

.header__link{
  color: $black;
  font-size: 16px;
  font-style: $medium;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.header__link--contact{
  width: 104px;
  background-color: $red;
  color: $white;
  font-size: 16px;
  font-weight: $medium;
  height: inherit;
  text-align: center;
}

// ハンバーガー
.hamberger{
  width: 26px;
  height: 16px;
  position: fixed;
  top: 30px;
  right: 15px;
  z-index: 1500;
  cursor: pointer;
}

.hamberger span{
  height: 2px;
  width: 100%;
  background-color: $black;
  display: inline-block;
  position: absolute;
  transition: 0.3s transform, 0.3s background-color;
}

.hamberger.is-active span{
  background-color: $white;
}
.hamberger span:nth-child(2){
  top: 8px;
  transition: 0.3s;
}

.hamberger span:nth-child(3){
  top: 18px;
}

.hamberger.is-active span:nth-child(1){
  top: 15px;
  transform: rotate(-45deg);
}

.hamberger.is-active span:nth-child(2){
  opacity: 0;
}

.hamberger.is-active span:nth-child(3){
  top: 15px;
  transform: rotate(45deg);
}

// ドロワー
.drawer{
  width: 100%;
  height: 100vh;
  background-color: $purple;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.drawer__inner{
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.drawer__items{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drawer__item:not(:first-child){
  margin-top: 25px;
}

.drawer__link{
  display: inline-block;
  width: 200px;
  text-align: center;
  font-size: 16px;
  font-weight: $medium;
  color: $white;
  border-bottom: solid $white 1px;
  padding-bottom: 25px;
}

.drawer__link.drawer__link--contact{
  background-color: $red;
  transition: 0.3s background-color;
  padding: 14px 0;
  color: $white;
  border: none;
  &::hover{
    background-color: $red2;
  }
}

// MV

.mv{
  width: 100%;
  height: 100vh;
}

.mv__inner{
  height: inherit;
  width: 100%;
}

.swiper{
  height: inherit;
}
.swiper-wrapper{
  width: 100%;
  height: inherit;
  position: relative;
}

.swiper-slide{
  height: inherit;
}

.swiper-slide picture{
  height: inherit;
}

.swiper-slide img{
  object-fit: cover;
  height: inherit;
}

.mv__title-wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  width: 100%;
}

.mv__title-wrap img{
  width: 224px;
  height: auto;
  margin: 0 auto;
  @include mq("md"){
   width: 200px;
  }
}

.mv__title{
  font-size: 42px;
  color: $white;
  margin-top: 30px;
  @include mq("md"){
    font-size: 30px;
  }
}

.mv__title-large{
  font-size: 60px;
  color: $red;
}

.mv__title-strong{
  font-size: 60px;
  color: $green;
}

.mv__title-large, .mv__title-strong{
  @include mq("md"){
    font-size: 38px;
  }
}

.mv__title{
  text-align: center;
}

// About

.about__inner{
  padding: 100px 0;
  display: flex;
  align-items: center;
  @include mq("md"){
    display: block;
  }
}

.about__sub-title{
  margin-top: 40px;
}

.about__text{
  margin-top: 35px;
}

.about__img{
  width: 44%;
  margin-left: 30px;
  @include mq("md"){
    display: none;
  }
}

// Service
.service{
  background-color: $white2;
  padding: 100px 0;
}
.service__container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2,400px);
  grid-template-rows: repeat(2,400px);
  justify-content: center;
  @include mq("lg"){
    grid-template-columns: repeat(2,360px);
    grid-template-rows: repeat(2,360px);
  }
  @include mq("md"){
    grid-template-columns: repeat(1,345px);
    grid-template-rows: repeat(4,345px);
  }
}

.service__item:nth-child(2){
  background-color: $red;
  @include mq("md"){
    grid-row: 1 / 2;
  }
}

.service__item:nth-child(3){
  background-color: $green;
}

.service__item:nth-child(2),
.service__item:nth-child(3){
  outline: solid 2px $white;
  outline-offset: -7px;
  padding: 82px 90px 72px;
  @include mq("lg"){
    padding: 75px 25px 70px;
  }
}

.service__sub-title{
  text-align: center;
  color: $white;
}

.service__text{
  margin-top: 30px;
}

// news
.news{
  padding: 100px 0;
}

.news__cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 50px;
  row-gap: 35px;
  margin-top: 50px;
}

.news__card{
  box-shadow: 2px 2px 4px -2px $gray;
}
.news__img{
  aspect-ratio: 8 / 5;
}

.card__body{
  padding: 22px 16px 22px;
}

.card__time{
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  color: $gray;
  letter-spacing: 0.05em;
}

.card__text{
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.857;
  color: $black;
}

// FAQ

.faq{
  background-color: $white2;
}
.faq__inner{
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 0;
}

.faq__accordion{
  margin-top: 52px;
  max-width: 800px;
}

.accordion__item:not(:first-child){
  margin-top: 10px;
}

.accordion__title{
  position: relative;
  padding: 22px 20px;
  background-color: $blue;
  color: $white;
  letter-spacing: 0.05em;
  font-size: 15px;
  @include mq("md"){
    font-size: 14px;
    padding: 22px 30px 21px 10px;
  }
}

.accordion__title::before,
.accordion__title::after{
  position: absolute;
  content:"";
  width: 18px;
  height: 2px;
  background-color: $white;
  top: 50%;
  right: 21px;
  transition: transform 0.3s, opacity 0.3s;
  @include mq("md"){
   width: 14px;
  }
}

.accordion__title::after{
  transform: rotate(-90deg);
}

.accordion__title.is-open::after{
  transform: rotate(-180deg);
}

.accordion__title.is-open::before{
  opacity: 0;
}

.accordion__text{
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 1.867;
  padding: 22px 20px;
  text-indent: -1em;
  padding-left: 1em;
  display: none;
  @include mq("md"){
    font-size: 14px;
    line-height: 1.714;
    padding: 16px 10px;
    padding-left: 2em;
  }
}


// 共通パーツ
.inner{
  width: 100%;
  max-width: 1080px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: auto;
  margin-left: auto;
  @include mq("md"){
   padding-left: 15px;
   padding-right: 15px;
  }
}
.section-title__main{
  font-size: 36px;
  font-weight: $medium;
  letter-spacing: 0.05m;
  line-height: 1.4;
  color: $green;
}
.section-title__sub{
  font-size: 14px;
  font-weight: $medium;
  letter-spacing: 0.05m;
  color: $red;
  margin-top: 5px;
  @include mq("md"){
   font-size: 10px;
  }
}
.section-title--center{
  text-align: center;
  @include mq("md"){
   text-align: left;
  }
}
.text--large{
  font-size: 24px;
  color: $black;
  letter-spacing: 0.05m;
  line-height: 1.75;
  @include mq("md"){
   font-size: 20px;
  }
}
.text--small{
  font-size: 15px;
  color: $black;
  letter-spacing: 0.05m;
  line-height: 1.867;
  @include mq("md"){
   font-size: 14px;
  }
}
.text--reverse{
  color: $white;
}

.md-none{
  @include mq("md"){
    display: none;
  }
}

.md-show{
  display: none;
  @include mq("md"){
    display: block;
  }
}